doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//localhost:35730/livereload.js")
    script(src="/javascripts/index-lib.min.js")
    script(src="/javascripts/index-post.min.js")
  body
    block content