/*
 * Import nib
 */
@import 'nib'
@import 'rupture'
@import 'jeet'
@import 'axis'

// Get Roboto font
@import url(http://fonts.googleapis.com/css?family=Roboto);

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #990033
offwhite = #eeeeee

// screen sizes
extralarge = 1400px
large = 1200px
mediumlarge = 1050px
medium = 850px
small = 650px
extrasmall = 500px

//Font sizes

content-large-title = 4em
content-title = 3em
content-large = 1.5em
content-medlarge = 1.35em
content-profile = 1.1em
content-normal = 1em
content-small = .85em
content-extrasmall = .6em

bg-size ()
    -webkit-background-size: arguments;
    -moz-background-size: arguments;
    -o-background-size: arguments;

.hidden
    display none
    height 0px
    width 0px
    height 0px
    overflow hidden

html
    height 100%
    min-width small
    background url('../img/bg.png')
    font-family: 'Roboto', sans-serif;

    div.labels
        span(1)
        margin-top 50px
        color #eeeeee
        font-size 1.2em

        div.labelWrapper
            span(1/5)
            text-align center

    div.sliders
        span(1)
        margin-top 100px
        margin-bottom 100px

        +above(mediumlarge)
            margin-top 150px

        +above(extralarge)
            margin-top 175px


        div.sliderWrapper
            span(1/5)
            text-align center

            input[type="range"]
                // -webkit-appearance: slider-vertical
                // display inline-block

    div.logoutWrapper

        position absolute
        right 20px
        top 20px

        p
            font-size 1em
            color offwhite

            a
                color main-color
                text-decoration none

            a:hover
                text-decoration underline

    div.loginWrapper
        span(3/8, offset: 11/32)
        margin-top 16vh

        +below(medium)
            span(1)

        div.explanationWrapper
            margin-bottom 50px

            h3
                font-size 2em
                color offwhite

        div.inputWrapper
            +below(medium)
                margin-left 25px
            // margin-top 100px

            input
                span(5/8)
                font-size 1.65em
                border-radius 3px
                border 1px solid #787878
                color #555555
                padding 10px
                border-top-right-radius 0
                border-bottom-right-radius 0

            input:focus
                outline none

            button
                span(1/4)
                text-align center
                height 54px
                button: main-color
                color offwhite
                border-top-left-radius 0
                border-bottom-left-radius 0

            button:focus
                outline none

    div.vocoderWrapper
        span(3/4, offset: 3/16)
        margin-top 40vh

        +below(medium)
            span(1)

        div.explanationWrapper
            margin-bottom 50px

            h3
                font-size 2em
                color offwhite

        div.inputWrapper
            +below(medium)
                margin-left 25px
            // margin-top 100px

            input
                span(5/8)
                font-size 1.65em
                border-radius 3px
                border 1px solid #787878
                color #555555
                padding 10px
                border-top-right-radius 0
                border-bottom-right-radius 0

            input:focus
                outline none

            button
                span(1/4)
                text-align center
                height 54px
                button: main-color
                color offwhite
                border-top-left-radius 0
                border-bottom-left-radius 0

            button:focus
                outline none

    div.pianoWrapper
        span(1)

// Styles for sliders and piano

* {
    box-sizing: border-box;
}
ul {
    height: 18.875em;
    width: 34em;
    margin: 4em auto;
    padding: 3em 0 0 3em;
    position: relative;
    border: 1px solid #160801;
    border-radius: 1em;
    background: -webkit-gradient(linear, right bottom, left top, color-stop(0%, rgba(0, 0, 0, 0.3)), color-stop(100%, rgba(0, 0, 0, 0)));
    background: url('http://f.cl.ly/items/2q1f3t0C3R1b0g081w3n/vwood.png');
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5) inset, 0 1px rgba(212, 152, 125, 0.2) inset, 0 5px 15px rgba(0, 0, 0, 0.5);
}
li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    float: left;
}
ul .white {
    height: 16em;
    width: 4em;
    z-index: 1;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-radius: 0 0 5px 5px;
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0, 0, 0, 0.2);
    background: linear-gradient(top, #eee 0%, #fff 100%);
}
ul .white:active {
    border-top: 1px solid #777;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1) inset, -5px 5px 20px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.2);
    background: linear-gradient(top, #fff 0%, #e9e9e9 100%);
}
.black {
    height: 8em;
    width: 2em;
    margin: 0 0 0 -1em;
    z-index: 2;
    border: 1px solid #000;
    border-radius: 0 0 3px 3px;
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset, 0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg, #222 0%, #555 100%);
}
.black:active {
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset, 0 -2px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
    background: linear-gradient(left, #444 0%, #222 100%);
}
.a, .g, .b, .d, .e {
    margin: 0 0 0 -1em;
}
ul li:first-child {
    border-radius: 5px 0 5px 5px;
}
ul li:last-child {
    border-radius: 0 5px 5px 5px;
}
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 11.75px 0;
    transform: rotate(270deg)
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 21.5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #2f5a89;
    border-radius: 1.3px;
    border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 0px solid #c4c5c3;
    height: 45px;
    width: 27px;
    border-radius: 7px;
    background: #c1bec0;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11.75px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #396ea7;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 21.5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #2f5a89;
    border-radius: 1.3px;
    border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 0px solid #c4c5c3;
    height: 45px;
    width: 27px;
    border-radius: 7px;
    background: #c1bec0;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 21.5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #25466b;
    border: 0px solid #000101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #2f5a89;
    border: 0px solid #000101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 0px solid #c4c5c3;
    height: 45px;
    width: 27px;
    border-radius: 7px;
    background: #c1bec0;
    cursor: pointer;
    height: 21.5px;
}
input[type=range]:focus::-ms-fill-lower {
    background: #2f5a89;
}
input[type=range]:focus::-ms-fill-upper {
    background: #396ea7;
}