extends layout

block content

    div.labels
        div.labelWrapper
            p.labelText Tempo
        div.labelWrapper
            p.labelText Reverb
        div.labelWrapper
            p.labelText Attack
        div.labelWrapper
            p.labelText Panning
        div.labelWrapper
            p.labelText Volume

    div.sliders
        div.sliderWrapper
            input#tempoSlider(type="range" name="tempoText" max="256" min="30" step="1" oninput="sendTempoVal(this.value)" onchange="sendTempoVal(this.value)")
        div.sliderWrapper
            input#otherSlider(type="range" name="otherText" max="256" min="0" step="1" oninput="sendOtherVal(this.value)" onchange="sendOtherVal(this.value)")
        div.sliderWrapper
            input#1Slider(type="range" name="1Text" max="256" min="30" step="1" oninput="" onchange="")
        div.sliderWrapper
            input#2Slider(type="range" name="2Text" max="256" min="30" step="1" oninput="" onchange="")
        div.sliderWrapper
            input#3Slider(type="range" name="3Text" max="256" min="30" step="1" oninput="" onchange="")

    div.vocoderWrapper
        div.inputWrapper
            form#vocoderForm(method="POST" action="/max/vocoder")
                input#vocoderInput(type="text")
                button(type="submit") Say It!

    div.pianoWrapper
        ul(class="set")
            li#f.pianoKey(class="white f")
            li#fs.pianoKey(class="black fs")
            li#g.pianoKey(class="white g")
            li#gs.pianoKey(class="black gs")
            li#a.pianoKey(class="white a")
            li#as.pianoKey(class="black as")
            li#b.pianoKey(class="white b")
            li#c.pianoKey(class="white c")
            li#cs.pianoKey(class="black cs")
            li#d.pianoKey(class="white d")
            li#ds.pianoKey(class="black ds")
            li#e.pianoKey(class="white e")

    script.
        function sendTempoVal(data) {
            console.log(data)
            $.post( "/max/tempo", { theText: data} );
        }
        function sendOtherVal(data) {
            console.log(data)
            $.post( "/max/other", { theText: data} );
        }


